<!DOCTYPE html>
<html lang="en"

      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
<!--    <link rel="stylesheet" type="text/css" th:href="@{/assests/css/all.min.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />-->


    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-style.css}" />
    <title>User Home - EMS</title>
    
<!--
Mini Profile Template
https://templatemo.com/tm-530-mini-profile
-->
  </head>
  <body>
    <!-- Welcome Section -->

    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" >
      <div class="logout">
        <button class="button" id="button1" ><a th:href="@{/logout}">Logout</a></button>
      </div>
      <div class="sub-container">

        <span sec:authorize="hasRole('ROLE_USER')"><button class="button" id="button1">
          <a th:href="@{/Home/Dashboard}">Dashboard</a></button>
        </span>

        <span sec:authorize="hasRole('ROLE_ADMIN')"><button class="button" id="button1">
          <a th:href="@{/Home/Dashboard-Admin}">Dashboard</a>
        </button></span>

        <span class="btn2" sec:authorize="hasRole('ROLE_ADMIN')">
          <button class="button" id="button1" ><a th:href="@{/Home/add-users}">Add Users</a></button>
        </span>



        <span class="btn3">
          <button class="button" id="button1"><a th:href="@{/Home/Change-Password}">Change Password</a></button></span>




      </div>

     
  
      




      
    </section>


  </body>
</html>